.text-center {
    text-align: center;
}

.text-blue {
    color: blue;
}

#submitButton {
    background-color: red;
} 

.highlight {
    color: orange;
}

input, label, button {
    display: block;
}